#getinfo
{
  text-align: center;
  align-items: center;
}
h2, h3
{
  text-transform: uppercase;
  text-align: center;
}
body
{
  font-family: "Trebuchet MS";
}
#nav li, ul, a{
  display: inline;
  text-decoration: none;
  list-style: none;
}
#nav a:hover
{
  font-weight: bold;
  text-decoration: underline;
}
#nav a
{
  color: black;
  padding: 2%;
}
#nav
{
  text-align: center;
  margin-bottom: 4%;
  padding: 0;
}
table
{
  margin-left: auto;
  width: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 4%;
}
tr
{
  width: auto;
}
#go
{
  text-align: center;
  padding: 5%;
}
