{% extends "BaseTemp.html" %}
{% block content %}
<div id='getinfo'>
  <h2> Add an Item</h2>
<form method="post">
  {{ form.hidden_tag() }}
  <p>Item Type: {{ form.Type() }}</p>
  <p>Universe: {{ form.Universe(placeholder='Universe Name')}}</p>
  <p>Volume Number: {{ form.VolumeNumber(placeholder='Volume')}}</p>
  <p>Issue/Novel No: {{ form.TypeNo(placeholder='Number')}}</p>
  <p>Character: {{ form.Character(placeholder='Name')}}</p>
  <p>Author: {{ form.Author(placeholder='Name')}}</p>
  <button formaction="/ItemAdded" type="submit" name="signup" id="button">Add Item</button>
</form>
</div>
{% endblock %}
