<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="../static/style.css" type="text/css" rel="stylesheet">
    <script src="https://maps.google.com/maps/api/js?key=AIzaSyBu-916DdpKajTmJNIgngS6HL_kDIK0aU"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../static/javascript.js"></script>
    {% if title %}
      <title>{{ title }}</title>
    {% endif %}
  </head>
  <body>
    {% if session['SignedIn'] == True%}
    <div id=nav>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/AddItem">Add Item</a></li>
        <li><a href="/ChangeLoad">Change Password</a></li>
        <li><a href="/Logout">Logout</a></li>
      </ul>
    </nav>
    </div>
    {% endif%}
    {% block content %}
    {% endblock %}
  </body>
</html>
