{% extends "BaseTemp.html" %}
{% block content %}
<div id="getinfo">
<h2> Settings </h2>
<p> password change below </p>
<form method="post" name="pass" action="/ChangeP">
  {{ form.hidden_tag() }}
  {{ form.prevp(placeholder='Previous Password', id='user') }}
  <br><br>
  {{ form.passw1(placeholder='New Password', id='pass')}}
  <br><br>
  {{ form.passw2(placeholder='Confirm Password', id='pass')}}
  <br><br>
  <button type="submit">Change</button>
</form>
</div>
{% endblock %}
