{% extends "BaseTemp.html" %}
{% block content %}
<div id=getinfo>
<form method="post">
  {{ form.hidden_tag() }}
  {{ form.Thing() }}
  {{ form.Search()}}
<button formaction="/Search">Search</button>
</form>
</div>
<div id=go>
  <button onclick="ShowPos()">Location of Leeds Comic Shop Greatness</button>
</div>

<div id=ListofChar>
  <h3> Your Comics</h3>
  <table>
    <tr>
      <td> Universe </td>
      <td> Character </td>
      <td> Volume </td>
      <td> Author </td>
      <td> Comic/Novel </td>
      <td> Issue/Novel No </td>
    </tr>
  {% for t in All %}
  <tr>
   <td>{{t.Universe}}</td>
   <td>{{Char[All.index(t)].CharacterN}}</td>
   <td>{{t.VolNo}}</td>
   <td>{{Auth[All.index(t)].AuthorN}}</td>
     {% if t.Comic == True %}
         <td>Comic</td>
       {% endif%}
       {% if t.Comic == False %}
         <td> Novel </td>
       {% endif %}
       <td>{{t.TypeNo}}</td>
  {% endfor%}
    </tr>
  </table>
</div>
<div id=getinfo>
  <button onclick="Count({{lenh}})">How Many Comics Do i Have!</button>
  <h2 id=cout></h2>
<div>

{% endblock %}
