{% extends "BaseTemp.html" %}
{% block content %}
{% if message == True %}
  <div id="login">
  </div>
{% endif %}
<div id="getinfo">
<h2> Welcome to your comic library </h2>
<p> Please Login below </p>
<form method="post" name="login">
  {{ form.hidden_tag() }}
  {{ form.username(placeholder='Username', id='user') }}
  <br><br>
  {{ form.password(placeholder='Password', id='pass')}}
  <br><br>
  <button type="submit" formaction="/Home" name="signin" id="button">Login</button>
</form>
<p> Don't have an account? </p>
<form method="post">
  <button type="submit" formaction="/SignUp">Sign Up</button>
</form>
</div>
{% endblock %}
