<div id=nav>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/AddItem">Add Item</a></li>
    <li><a href="/ChangeLoad">Change Password</a></li>
    <li><a href="/Logout">Logout</a></li>
  </ul>
</nav>
</div>
