{% extends "BaseTemp.html" %}
{% block content %}
<duv id=getinfo>
{% if item == 'c1' %}
  <h2>{{ items[0].Universe}} - {{ what }}</h2>
  <ol>
  {% for t in items %}
    <li><p>Volume: {{t.VolNo}} | Author: {{List[items.index(t)].AuthorN}} |
      {% if t.Comic == True %}
        Issue No:
      {% endif%}
      {% if t.Comic == False%}
        Novel Number:
      {% endif %}
      {{t.TypeNo}}</p>
    </li>
  {% endfor %}
</ol>
{% endif %}
{% if item == 'c2' %}
<h2>Author - {{ what }}</h2>
<ol>
  {% for t in items %}
  <li><p> {{ items[0].Universe}} | Character: {{List[items.index(t)].CharacterN}} | Volume: {{t.VolNo}} |
    {% if t.Comic == True %}
      Issue No:
    {% endif%}
    {% if t.Comic == False %}
      Novel Number:
    {% endif %}
    {{t.TypeNo}}</p>
  </li>
  {% endfor %}
</ol>
{% endif %}
</div>
{% endblock %}
