{% extends "BaseTemp.html" %}
{% block content %}
{% if message == True %}
  <div id="new">
  </div>
{% endif %}
<div id=getinfo>
<h2> Welcome to your comic library </h2>
<p> Please complete all the below fields </p>
<form method="post">
  {{ form.hidden_tag() }}
  {{ form.username(placeholder='Username', id='user') }}
  <br><br>
  {{ form.password1(placeholder='Password', id='pass1')}}
  <br><br>
  {{ form.password2(placeholder='Password confirmation', id='pass2')}}
  <br><br>
  <button formaction="/Sign_Up" type="submit" name="signup" id="button">Sign Up</button>
</form>
<p>Already have an account, go back to login </p>
<form>
  <button type="submit" formaction="/">Login</button>
</form>
</div>
{% endblock %}
